# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Information
*.pdb
*.ilk
*.exp

*.FileListAbsolute.txt
*.idb

*.cache
*.deps

*.lastbuildstate
*.tlog
*.log

# IDE Information
*.vs

!x64/Debug/FreeImage.dll
!x64/Debug/glew64.dll
!x64/Debug/freeglut.dll

!x64/Release/FreeImage.dll
!x64/Release/glew64.dll
!x64/Release/freeglut.dll
packages
*.enc
*.recipe
